<%= javascript_include_tag 'tasks/task_form', 'data-turbolinks-track' => true  %>
<div class="container">
  <div class="new_form">
<%= form_for([@project, @project.tasks.build], remote: true) do |f| %>
    <%= f.text_field :title, class:'input_'%>
    <td><div id="star-priority"></div></td>
    <div class='input-group date' id='datetimepicker1'>
      <%= f.text_field :deadline, class: 'form-control' %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  <%= f.submit 'Save task',:class => "btn btn-primary"                           %>
<% end %>
</div>
</div>

