<table class="table table-hover" id="row_<%=task.id %>">
<tr class="tasks">
  <div class="row">
    <div class="complete">
      <% if task.completeda? %>
          <td>
          <%=link_to complete_task_path(project_id: project, id: task), remote: true, method: :patch do%>
              <input id="#check_<%=task.id%>" type="checkbox" checked/>
          <% end %>
          </td>
          <div class="<%= task.id %>">
            <td style="opacity: 0.4;"><%=best_in_place task, :title, :classes => 'name-edit'%></td>
          </div>
      <% else %>
          <td>
          <%=link_to complete_task_path(project_id: project, id: task), remote: true, method: :patch do%>
              <input id="#check_<%=task.id%>" type="checkbox"/>
          <% end %>
          </td>
          <div class="<%= task.id %>">
            <td><%= best_in_place task, :title, :classes => 'name-edit'%></td>
          </div>
      <% end %>
      <div class="right">
        <div class="trash">
          <td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, task_path(project_id: project, id: task), remote: true,
                          method: :delete,
                          data: {confirm: 'Are you sure?'} %>
          </td>
        </div>

      </div>
    </div>
    </td>
  </div>
</tr>
</table>