<table class="table table-hover" id="row_<%=task.id %>">
<tr class="tasks">
  <div class="row">
    <div class="complete">
      <% if task.completeda? %>
          <td>
          <%=link_to complete_task_path(project_id: project, id: task), remote: true, method: :patch do%>
              <input id="#check_<%=task.id%>" type="checkbox" checked/>
          <% end %>
          </td>
          <div class="<%= task.id %>">
            <td style="opacity: 0.4;"><%=best_in_place task, :title, :classes => 'name-edit'%></td>
          </div>
      <% else %>
          <td>
          <%=link_to complete_task_path(project_id: project, id: task), remote: true, method: :patch do%>
              <input id="#check_<%=task.id%>" type="checkbox"/>
          <% end %>
          </td>
          <div class="<%= task.id %>">
            <td><%= task.title%></td>
          </div>
      <% end %>
      <td><div class="star-priority" data-score= <%= task.priority %>></div></td>
      <td>
        <% require 'date'%>
        <% if !task.deadline.nil? %>
            <%= task.deadline.strftime("%d-%m-%Y  %H:%M %p") %>
            <% else %>
        <%= 'someday:)' %>
        <% end %>
      </td>
      <div class="right">
        <div class="trash">
          <td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, task_path(project_id: project, id: task), remote: true,
                          method: :delete,
                          data: {confirm: 'Are you sure?'} %>
          </td>
        </div>
        <div class="update">
          <td><%=link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_task_path(project_id: project, id: task), remote: true%></td>
        </div>

      </div>
    </div>
    </td>
  </div>
</tr>
</table>

<script>
    $('.star-priority').raty({
        path: '/assets',
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        }
    });
</script>