<% provide(:title, 'Sign up') %>

<div>
	<h1>Sign up</h1>

        <div class="form">
			<%= form_for(@user) do |f| %>
				<%= render 'shared/error_messages', object: f.object %>
			      <div class="controls">
				<%= f.label :email %>
					<%= f.text_field :email, class: 'form-control' %><br>
				</div>


				<div class="controls">
				<%= f.label :password %>
					<%= f.password_field :password, class: 'form-control' %><br>
				</div>


				<div class="controls">
				<%= f.label :password_confirmation%>
					<%= f.password_field :password_confirmation,  class: 'form-control' %><br>	
				</div>


				<div class="text-center controls">
					<%= f.submit "Create my account", class: "btn btn-large btn-primary " %>
				</div>
			<% end %>
		</div>
</div>
